/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 640px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 1.75rem;
  }

  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 640px) and (max-width: 1024px) {
  h1 {
    font-size: 2rem;
  }

  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 2.5rem;
  }

  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
